@use "../abstracts/mixin";
@use "../abstracts/variables";


.about {
  @include mixin.max-w;
  margin-top: 8.75rem; /* 140px */
  padding: 0 5rem 0 5rem;
  box-sizing: border-box;
  
  .about__title {
    @include mixin.title;
    @include mixin.title-h2; 
  }
  .about__wrap {
    margin-top: 0.875rem;
    display: flex;
    justify-content: space-between;
  }
  .about__wrap-text {
    max-width: 50.9rem; /* 814px */
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
  }
  .about__text {
    @include mixin.text;
    font-size: variables.$desc-font-size;
    line-height: 1.5rem;/* 24px */
    margin: 0;
  }
  .about__wrap-img {
    min-width: 22.875rem; /* 366px */
  }
  .about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1050px) {
    .about__wrap {
      flex-direction: column;
      gap: 1.5rem;
    }
  
  }
  @media screen and (max-width: 570px) {
    margin: 8.75rem 1.5rem 0 1.5rem; /* 140px 24px 0 24px*/
    padding: 0;
    
    .about__wrap-text {
      padding: 0;
    }
    .about__wrap-img {
      min-width: min-content;
    }
  }
}