@use "../abstracts/mixin";
@use "../abstracts/variables";

.activities {
  @include mixin.max-w;
  margin-top: 8.75rem; /* 140px */
  padding: 0 5rem 0 5rem;

  .activities__title {
    @include mixin.title;
    @include mixin.title-h2; 
  }
  .activities__wrap-description {
    width: 70%;
    margin-top: 1.25rem;
  }
  .activities__text {
    @include mixin.text;
    font-size: variables.$desc-font-size;
    line-height: 1.5rem;
    width: 100%;
  }
  .activities__wrap {
    display: grid;
    grid-template-columns: 1fr minmax(20.3125rem, 22.875rem);
    gap: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .activities__text_smaller {
    font-size: variables.$primary-font-size;
    margin-bottom: 0;
  }
  .activities__list {
    padding-left: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    list-style-type: none;
  }
  .activities__item {
    padding: 0.625rem;/* 10px */

    background: variables.$bg-lightblue;
    border-radius: 5px 5px 0 0;
  }
  .activities__info {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: variables.$bg-lightblue;
    
    border-radius: 5px 5px 0 0;
    padding: 0.625rem 3.1rem 0.625rem 3.1rem;/* 10px */
    }


  @media screen and (max-width:1050px) {
    .activities__wrap-description {
      width: 100%;
    }
  }
  @media screen and (max-width: 850px) {
    .activities__wrap {
      grid-template-columns: 340px 1fr;
    }
  }
  @media screen and (max-width: 780px) {
    .activities__info {
        padding: 0.625rem;/* 10px */
    }
  }
  @media screen and (max-width: 695px) {
    .activities__text_smaller {
      font-size: variables.$fs-text;
    }
  }
  @media screen and (max-width: 640px) {
    .activities__wrap {
      grid-template-columns: 1fr 119px;
      gap: 0.75rem;
    }
  }
  @media screen and (max-width: 570px) {
    margin: 8.75rem 1.5rem 0 1.5rem; /* 140px 24px 0 24px*/
    padding: 0;
  }
}