@use "../abstracts/mixin";
@use "../abstracts/variables";

header {
  padding: 0;
  @include mixin.max-w;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    padding: 0 5rem 0 5rem;
    box-sizing: border-box;
    max-height: 4.375rem; /* 70px */
  }

  .header__logo {
    width: 7.1875rem; /* 115px */
    height: 3.125rem; /* 50px */
    margin-top: 0.75rem; /* 12px */
  }

  .header__nav {
    margin-top: 1.5rem; /* 12px */
    height: 100%;
  }

  .header__nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }
  .header__nav-link {
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    border-bottom: 1px solid transparent;
    transition: 0.5s all ease;
    text-wrap: nowrap;
    padding-right: 1rem;
  }

  .header__nav-link:hover {
    color: variables.$text-color-accent;
    // color: rgb(0, 22, 137);
    // border-bottom: 1px solid rgb(0, 22, 137);
  }
  .header__search-form {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }
  .header__search {
    height:  2.625rem; /* 42px */
    flex-shrink: 0;

  }
  .header__search-btn {
    right: 0px;
    width: 2.625rem; /* 42px */
    height: 2.625rem; /* 42px */
    border: 2px solid rgba(40, 50, 112);
    background: rgba(40, 50, 112);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .header__search-icon {
    width: 2rem;
    height: 2rem;
  }
  .header__burger-checkbox, .header__burger, .header__menu, .header__menu-list, .header__menu-item, .header__burger-box, #header__search-form_menu {
    display: none;
  }

  @media screen and (max-width: 900px) {
    
    .header__container {
      padding: 0 6rem 0 6rem;
    }

    .header__nav-list, .header__search-form {
      display: none;
    }
    #header__search-form_menu {
      margin-top: 1.5rem;
      display: flex;
    }
    //burger-menu
    .header__burger-box {
      display: flex;
    }
    .header__burger, .header__menu {
      display: block;
    
    }
    .header__burger {
      position: relative;
      z-index: 1;
      cursor: pointer;
      border: none;
      background: transparent;
      width: 40px;
      height: 26px;
    }
    
    .header__burger::before, .header__burger::after {
      content: "";
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      background: rgb(0, 0, 0);
    }
    
    .header__burger::before {
      top: 0;
      box-shadow: 0 11px 0 rgb(0, 0, 0);
      transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
    }
    
    .header__burger::after {
      bottom: 0;
      transition: bottom 0.3s 0.15s, transform 0.3s;
    }
    
    .header__burger-checkbox:checked + .header__burger::before {
      top: 11px;
      transform: rotate(45deg);
      box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
      transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
    }
    
    .header__burger-checkbox:checked + .header__burger::after {
      bottom: 11px;
      transform: rotate(-45deg);
      transition: bottom 0.3s, transform 0.3s 0.15s;
    }
    
    .header__menu-list {
      top: 0;
      left: 55%;
      position: absolute;
      gap: 12px;
      padding: 60px 0;
      margin: 0;
      background: rgb(255, 255, 255);
      border: 2px solid rgba(197, 217, 231, 0.3);
      list-style-type: none;
      transition: 0.3s;
      width: 300px;
    }
    
    .header__menu-item {
      display: block;
      padding: 8px;
      color: rgb(0, 0, 0);
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: 0.5s all ease;
    }
    
    .header__menu-item:hover {
      color: rgb(0, 22, 137);
      border-bottom: 1px solid rgb(0, 22, 137);
      background-color: rgb(209, 209, 209);
    }
    
    .header__burger-checkbox:checked ~ .header__menu-list {
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 570px) {
    
    .header__container {
      padding: 0 2.5rem 0 2.5rem;
    }
  }
}
