@use "../abstracts/mixin";
@use "../abstracts/variables";

.reviews {
  @include mixin.max-w;
  text-align: center;
  margin-top: 7.5rem; /* 120px */

  .reviews__cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .reviews__card {
    margin: 0 0.5em;
    width: calc(100% / 4);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 26px 0px rgba(203, 203, 203, 0.25);
  }
  .reviews__title {
    @include mixin.title;
    @include mixin.title-h2; 
    margin-bottom: 35px;
  }
  .reviews__image-wrapper {
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews__image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (max-width: 992px) {
    .reviews__card {
      width: calc(100% / 2);
    }
    .reviews__image-wrapper {
      height: 40vw;
    }
  }
  @media screen and (max-width: 576px) {
    .reviews__image-wrapper {
      height: 50vw;
    }
    .reviews__card {
      width: 100%;
    }
  }
}
