@font-face {
  src:  url(../fonts/Gilroy-Heavy.woff2) format('woff2'),
        url(../fonts/Gilroy-Heavy.woff) format('woff'),
        url(../fonts/Gilroy-Heavy.ttf) format('ttf');
  font-family: "Gilroy";
  font-weight: 900;
}
@font-face {
  src:  url(../fonts/Gilroy-Semibold.woff2) format('woff2'),
        url(../fonts/Gilroy-Semibold.woff) format('woff'),
        url(../assets/fonts/Gilroy-Semibold.ttf) format('ttf');
  font-family: "Gilroy";
  font-weight: 600;
}