/* TEXT COLOR */
$title-color:rgb(43, 43, 43);
$text-color: rgb(140, 140, 140);
$text-color-accent: rgb(100, 221, 255);
$text-color-active: rgb(172, 229, 245);
$text-color-btn: rgb(255, 255, 255);


/* FONT-SIZE */
$fs-h2: 1.875rem; /* 30px */
$desc-font-size: 1.25rem; /* 20px */
$primary-font-size: 1.125rem; /* 18px */
$fs-text: 0.75rem;/* 12px */
$fs-btn: 0.625rem; /* 10px */

/*FONT-FAMILY*/
$ff: "Gilroy", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

/*about*/
$black: #000000;

$bg-darkblue: rgb(0, 22, 137);
$bg-lightblue: rgba(197, 217, 231, 0.3);